html {
    background-color: #ADD8E6;
}

h1 {
    font-size: 32px;
    text-align: center;
    font-family: copperplate;
    border-style: groove;
    border-width: 10px;
    border-color: #5F9EA0;
}

h2 {
    text-align: center;
    font-style: italic;
}

p {
    text-align: center;
    text-justify: inter-word;
    margin-left: 500px;
    margin-right: 500px;
}

h3{
    padding-left: 100px;
    padding-top: 50px;
    color: grey;
    font-size: 15px;
    font-style: italic;
}
